@model Login
<form asp-action="Login" asp-controller="User" method="post">
    <div>
        <label for="Username">Username:</label>
        <input asp-for="LogUsername"/>
        <span asp-validation-for="LogUsername"></span>
    </div>
    <div>
        <label for="Password">Password:</label>
        <input asp-for="LogPassword"/>
        <span asp-validation-for="LogPassword"></span>

    </div>
    <input type="submit" value="Login"/>
</form>