@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex text-center">
        <div>
            <h3>Login</h3>
            @await Html.PartialAsync("_LoginPartial")
        </div>
        <div>
            <h3>Register</h3>
            @await Html.PartialAsync("_RegisterUser")
        </div>
    </div>
</div>
