@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <div>

        </div>
        <div>
            <div>
                @await Html.PartialAsync("_youtube")
            </div>
            <div>
                <h1>asdasdasd</h1>
            </div>
            <div>
                @await Html.PartialAsync("_maps")
            </div>
        </div>
    </div>
</div>


